/*general*/
a:hover {
    text-decoration:underline;
}

section.scrollspy:not(:first-child) {
    border-top:1px solid #757575;
}

code {
    color: #ea4a4f;
    background-color:#eee;
}

/*header*/
nav.top-nav {
    height: 122px;
    box-shadow: none;
    overflow: visible;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
	text-align:center;
}

nav.top-nav a {
    line-height: 122px;
    font-size: 48px;
}

/*navigation*/
.table-of-contents a:hover {
    text-decoration:none;
}

